.catalogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    background-color:rgba(225, 209, 209, 1);  
}

.catalogo form{
    padding: 0 40px;
    box-sizing: border-box;
}

.cmbPlantel select{
    position: relative;
    left: 140px;
    top: 73px;
}

.cmbPlantel label{
    position: relative;
    left: -5px;
    color: #030303;
    transform: translateY(-100%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    /* top:8px; */
}

.cmbLicenciatura select{
    position: absolute;
    left: 430px;
    top: 73px;
}

.cmbLicenciatura label{
    position: absolute;
    left: 330px;
    color: #030303;
    transform: translateY(-100%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    /* top:96px; */
}

.cmbCoordinacion select{
    position: relative;
    left: 140px;
    top: 110px;
}

.cmbCoordinacion label{
    position: relative;
    left: -5px;
    color: #030303;
    transform: translateY(-100%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    /* top:-3px; */
}

select.planteles, select.licenciaturas, select.coordinaciones {
    background: transparent;
    border: 1px solid #aaa;
    font-size: 12px;
    height: 25px;
    padding: 5px;
    width: 180px;
    position: absolute;
    /* left: 168px; */
 }

select.planteles:focus, select.licenciaturas:focus, select.coordinaciones:focus {
    outline: none;
}

/* .btnCerrar{
    position: fixed;
    width: 8%;
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    left: 663px;
    background-color: #d03232;
    color: white;
} */

.btnCerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.btnCerrar:hover {
    background-color: #e63939;
}

.panelAulas{
    position: relative;
    width: 600px;
    height: 200px;
}