.catalogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    background-color:rgba(225, 209, 209, 1);  
}

.catalogo form{
    padding: 0 40px;
    box-sizing: border-box;
}

.btnCerrar{
    position: fixed;
    width: 15%;
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    left: 322px;
    background-color: #d03232;
    color: white;
}

.btnGrabar{
    position: relative;
    width: 40%;
    background-color: #1A1D57; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;   
    left: 96px;
}

.btnAceptar{
    position: absolute;
    width: 50%;
    background-color: #1A1D57;
    color: white; 
    font-size: 12px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;   
    transform: translateY(-20%);
    left: 94px;
    height: 26px;
    top: 200px;
}

label.lblPlantel{
    position: relative;
    left: 15px;
}

select.planteles  {
    background: transparent;
    border: 1px solid #aaa;
    font-size: 14px;
    height: 25px;
    padding: 5px;
    width: 200px;
    left: 124px;
    position: relative;
    left: 20px;
}

select.planteles:focus{ outline: none;}