.listaLicenciaturas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    background-color:rgba(225, 209, 209, 1);  
}

.listaLicenciaturas form{
    padding: 0 40px;
    box-sizing: border-box;
}

.btnCerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.btnCerrar:hover {
    background-color: #e63939;
}

.tablaLicenciaturas { 
    border-collapse: collapse; 
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 510px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tablaLicenciaturas thead tr { 
    background-color: #1A1D57; 
    color: #ffffff; 
    text-align: middle; 
}

.tablaLicenciaturas th, .styled-table td { 
    padding: 12px 15px; 
}

.tablaLicenciaturas styled-table tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

.tablaLicenciaturas tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; 
} 
